/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree
 */

@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * The font-awesome-sprockets file includes the sprockets assets helper
 * Sass functions used for finding the proper path to the font file.
 */
@import "font-awesome-sprockets";
@import "font-awesome";


span.input-group-addon button {
  padding: 0;
  border: none;
  background: none;
}

.input-group-addon.validated {
  color: #28A55F;
  background-color: #e4f6c5;
}

.notices {
  border-radius: 10px !important;
  position: fixed;
  bottom: 40px;
  z-index: 9999;
  right: 30px;

  box-shadow: 0 14px 14px fade-out(black, 75 / 100), 0 10px 5px fade-out(black, 78 / 100);

  button.close {
    color: rgb(255, 255, 255);
    cursor: pointer;
    opacity: 0.7;
    display: block;
    height: 25px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 25px;
    perspective-origin: 14px 17.5px;
    transform-origin: 14px 17.5px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    font: normal normal bold 20px/20px OpenSans;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
  }/*#BUTTON_3*/

  .alert {
    padding: 10px 20px;
    text-align: left;
    margin: 0;
    box-sizing: border-box;
    border: none;

    &.alert-info{
      background: #4EE8AC none repeat-x scroll 0% 0% / auto padding-box border-box;
      color: #FFF;
    }

    &.alert-danger{
      background: #FF6752 none repeat-x scroll 0% 0% / auto padding-box border-box;
      color: #FFF;
    }
  }
}