// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// MI MI MI TEST
body {
    background: #fff url("/assets/pattern.jpg") repeat;
    padding-bottom: 70px;
    .panel-default {
        margin-top: 10px;
    }
}

.jumbotron {
    background: #222;
    color: #fff;
}

// MI FIN DU TEST
